<h1>結果：<%= @result %></h1>
<p><%= @message %></p>
<p>番号：<%= @number %>番</p>

<%= link_to "もう一度引く", "/result", class: "btn btn-success" %>
<%= link_to "トップに戻る", "/", class: "btn btn-secondary" %>

<%= link_to "結果を登録する", 
    new_kekka_path(result: @result, message: @message, number: @number),
    class: "btn btn-primary" %>
